.div-reserve
{
    display: block;
    margin-top: 70px;
    margin-right: 90px;
    margin-left:70px;
    margin-bottom: 70px;
    flex-direction: column;
    width: 380px;
}
.parentdiv{
    width:520px;
    background: rgb(255, 255, 255);
}
.button{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.label{
    margin-left : 60px;
}
.dropdown{
    margin-top: 40px;
    width: 380px;
    margin-left: 10px;
}
.tozihat{
    color: red;
    margin: 90px;
}
.tozihat-prim{
    margin-top: 70px;
    font-weight:bold ;
}
.span-class{
    margin-top: 50px;
}