.covidcontainer{
    background-color: rgba($color: #ffffff, $alpha: 0.7);
}
li{
    text-align: right;
    margin-right: 300px;
    direction: rtl;
}
.para{
    text-align: right;
    margin-right: 300px;
    margin-left: 200px;
}