.contactcontainer{
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    text-align: right;
    width: 100%;
}
.contactImg{
    width: 380px;
    height: 380;
    border: none;
    padding-bottom: 25px;
    margin-left: 500px;
}
.contactus{
    margin-right: 300px;
    margin-left: 300px;
    border-bottom: solid;
    margin-bottom: 30px;
}
.matn{
    width: 650px;
    float:right;
    margin-right: 500px;
}
